.app {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: sans-serif;
}
.search {
  &__input {
    font-size: 16px;
  }
  &__button {
    font-size: 16px;
  }
}
.countries {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 2em 0 0;
  text-align: left;
}
.country {
  padding: 15px;
  border: 1px solid green;
}
.country__img {
  border: 1px solid #ccc;
  width: calc(100% - 2px);
}